@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');

 






.form1{
	width:600px;
	background:white;
	padding:30px;
	border: 2px solid rgba(0,0,0,0.2);
	margin:20px 100;
	height:700px;
	position:relative;
	top:-50

}


.form2{
	width:600px;
	background:white;
	padding:30px;
	border: 2px solid rgba(0,0,0,0.2);
	margin:20px 850;
	height:700px;
	position:relative;
	top:-830;

}

.form3{
	width:600px;
	background:white;
	padding:30px;
	border: 2px solid rgba(0,0,0,0.2);
	margin:20px 100;
	height:700px;
    position:relative;
	top:-580;


}

.form4{
	width:600px;
	background:white;
	padding:30px;
	border: 2px solid rgba(0,0,0,0.2);
	margin:20px 850;
	height:700px;
	position:relative;
	top:-1360;


}

h1{
    font-size:120px;
	position:relative;
	top:-60px;
	text-align:center;
	font-family: Amatic SC, cursive;;
	color:transparent;
    background:linear-gradient( black, #000099);
	-webkit-background-clip:text;
}

h2{
 
	font-size:60px;
	font-family: Amatic SC, cursive;;
	color:transparent;
    background:linear-gradient( black, #000099);
	-webkit-background-clip:text;
	position:absolute;
	top:-10;
	margin:20px 230;
}



#imagen{
	z-index: -999;
	width:100%;
	height:auto;
	position: fixed;
	top:0;
	left:0;
	opacity:0.75;
	background:white;
}


.fondo1{
	
	width:400px;
	height:500px;
	position:absolute;
	top:200;
	margin:20px 220;
	  
}

.fondo2{
	
	width:320px;
	padding:30px;
    position:absolute;
	top:200;
	margin:20px 300;
	


}





.fondo3{
	
	width:350px;
	height:500px;
	padding:30px;
	position:absolute;
	top:180;
	margin:20px -60;
	

	
	


}

.fondo4{
	
	width:350px;
	height:500px;
	padding:30px;
	position:absolute;
	top:180;
	margin:20px -60;


}

.container{
	
    font-size:20px; 
	text-align:center;
	display:inline-block;
	margin:20px;
	padding:10px 0px;
	width:200px;
	text-decoration:none;
	 
	
	
}

.my-select{
	
	width:200px;
	color: orange;
	height:100px;
	margin:20 10px;
	position:absolute;
	background:orange; 

}




.boton{
	
	font-size:20px; 
	background:grey; 
	border-radius:30px;
	text-align:center;
	border:1px solic #ccc;
	display:inline-block;
	margin:20px;
	padding:10px 0px;
	width:200px;
	text-decoration:none;
	color: #fff;
	box-shadow:0px 3px 0px #373c3c;
	
	
}

.boton:hover{
	box-shadow:0 px 0px 0px;
	padding-top:7px;
	 
	
}


.boton4{
	
	font-size:20px; 
	background:grey; 
	border-radius:30px;
	text-align:center;
	border:1px solic #ccc;
	display:inline-block;
	margin:20px;
	padding:10px 0px;
	width:200px;
	text-decoration:none;
	color: #fff;
	box-shadow:0px 3px 0px #373c3c;
	position:relative;
	top:70px;
	margin:20px 350;
	
	
}






#boton4{
	position:relative;
	top:70px;
	margin:20px 350;
	
}


.boton4:hover{
	box-shadow:0 px 0px 0px;
	padding-top:7px;
	 
	
}









 select{
  font-family: FontAwesome, sans-serif;
}

#iconos{
	
	width:40px;
	height:50px;
	right:-10px;
	position:relative;
	
}






#user2{
	
	position:relative;
	margin: 0px 832;
	top:-25;
	font-size:25px; 
	width:-80px;
	
	
}

#conf{
	
	position:relative;
	margin: 0px 800;
	font-size:25px; 
	width:70px;
	
	
}


#configuracion{
	
	position:relative;
	margin: -10px 832;
	top:-12;
	width:20px;	
	font-size:15px;
	 
	
	
}



